@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.main-section-qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: skyblue;
  height: 100svh;
}

.card-qr {
  display: flex;
  padding: 15px;
  padding-bottom: 40px;
  gap: 20px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.img-card-qr {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-card-qr > img {
  display: flex;
  height: 300px;
  width: 300px;
}

.caption-card-qr {
  display: flex;
  flex-direction: column;
  width: 245px;
  gap: 20px;
  text-align: center;
}

.caption-card-qr > h2 {
  font-size: 1.3rem;
  font-weight: 800;
}

.caption-card-qr > p {
  font-size: 0.9rem;
  font-weight: 400;
  color: grey;
}

.attribution {
  position: relative;
  top: 150px;
}
